version: "3.8"

services:
  product-service:
    container_name: product-service
    build:
      context: product-service/.
    ports:
      - "8081:8080"
    env_file:
      - product-service/.env
    depends_on:
      - product-db
      - discovery-service
    volumes:
      - ./product-service/src:/app/src:rw
      - ./product-service/target:/app/target:rw
    command: mvn spring-boot:run
    networks:
      - my-network

  discovery-service:
    container_name: discovery-service
    build:
      context: discovery-service/.
    ports:
      - "8761:8761"
    command: java -jar /app/app.jar
    networks:
      - my-network

  cart-service:
    container_name: cart-service
    build:
      context: cart-service/.
    ports:
      - "8082:8080"
    env_file:
      - cart-service/.env
    depends_on:
      - discovery-service
      - redis
    volumes:
      - ./cart-service/src:/app/src:rw
      - ./cart-service/target:/app/target:rw
    command: mvn spring-boot:run
    networks:
      - my-network

  order-service:
    container_name: order-service
    build:
      context: order-service/.
    ports:
      - "8083:8080"
    env_file:
      - order-service/.env
    depends_on:
      - discovery-service
      - redis
    volumes:
      - ./order-service/src:/app/src:rw
      - ./order-service/target:/app/target:rw
    command: mvn spring-boot:run
    networks:
      - my-network

  notification-service:
    container_name: notification-service
    build:
      context: notification-service/.
    ports:
      - "8085:8080"
    depends_on:
      - discovery-service
      - kafka
    volumes:
      - ./notification-service/src:/app/src:rw
      - ./notification-service/target:/app/target:rw
    command: mvn spring-boot:run
    networks:
      - my-network

  auth-service:
    container_name: auth-service
    build:
      context: auth-service/.
    ports:
      - "8084:8080"
    env_file:
      - auth-service/.env
    depends_on:
      - auth-db
      - discovery-service
    volumes:
      - ./auth-service/src:/app/src:rw
      - ./auth-service/target:/app/target:rw
    command: mvn spring-boot:run
    networks:
      - my-network
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6380:6379"
    command: [ "redis-server", "--save", "60", "1", "--loglevel", "warning" ]
    volumes:
      - redis_data:/data
    networks:
      - my-network

  product-db:
    container_name: product-db
    image: postgres:13-alpine
    restart: always
    volumes:
      - productdb_postgres_data:/var/lib/postgresql/data/
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=ecommerce
      - POSTGRES_PASSWORD=ecommerce
      - POSTGRES_DB=product
    networks:
      - my-network

  auth-db:
    container_name: auth-db
    image: postgres:13-alpine
    restart: always
    volumes:
      - authdb_postgres_data:/var/lib/postgresql/data/
    ports:
      - "5431:5432"
    environment:
      - POSTGRES_USER=ecommerce
      - POSTGRES_PASSWORD=ecommerce
      - POSTGRES_DB=authdb
    networks:
      - my-network


  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - product_db
      - auth_db
    networks:
      - my-network

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - my-network
  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:latest
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - my-network

volumes:
  productdb_postgres_data:
  authdb_postgres_data:
  redis_data:

networks:
  my-network:
    driver: bridge